<div class="container-fluid">
    <div class="jumbotron about">
		<div class="row">
            <div class="col-sm-5 about-quote">
                <div class="quote-card">
                    <div class="quote-inner-card">
                        <div class="text-center">
                            <i class="fas fa-quote-right"></i>  
                        </div>
                        <h2>There is no luck in racing. There is only drive, determination, hard work, and more drive.</h2>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row about-row">
        <div class="col-sm-8 about-section">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 about-text">
                    <h2>About Craig Dollanksy</h2>
                    <div class="section-text-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p>Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center accolades">
            <div class="col-sm-12">
                <i class="fas fa-trophy"></i>
                <h3 class="accolades-title">Eldora Speedway</h3>
                <h3>track record holder</h3>
            </div>
            <div class="col-sm-12">
                <img class="" src="../../images/car-20-xxl.png" alt="">
                <h3 class="accolades-title">Iron Man</h3>
                <h3>champion back-to-back 3 times</h3>
            </div>
            <div class="col-sm-12">
                <i class="fas fa-trophy"></i>
                <h3 class="accolades-title">International Race of Champions</h3>
                <h3>2010 winner</h3>
            </div>
        </div>
    </div>
    <div class="row mission-row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 mission-text">
                    <h2>Dollanksy Driven to Win Mission</h2>
                    <div class="section-text-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute. 
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mission-quote">
            <div class="quote-card">
                <div class="quote-inner-card">
                    <div class="text-center">
                        <i class="fas fa-quote-right"></i>  
                    </div>
                    <h2>Lorem ipsum dolor sit amet, consectecteur adipiscing elit. Sed do eiusmod.</h2>
                </div>
            </div>
        </div>
    </div>
</div>