{{!< default}}
<div class="container-fluid">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 fixed-bottom">
				<div class="page-title">
					<h1>Dollansky</h1>
					<h1 class="faster-font">Driven to Win</h1>
					<h1>Racing Academy</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h2>Winning at the <span class="accent-yellow">highest level</span> in dirt track racing</h2>
			</div>
			<div class="col-sm-6 col-sm-offset-3 intro-text">
				<p>
					Have you experienced the intensity of driving a sprint car? Do you have what it takes to be a professional race car driver?
				</p>
				<p>Whether you want to gain a competitive edge for weekend racing, develop your professional racing career, or are looking to experience a thrill like never before, Dollansky Driven to Win Racing Academy will benefit you as a driver and team member.</p>
				<p>Craig Dollansky, your personal coach, will guide you through unique training according to your needs and offer advice on the best equipment. As a record-holding racer in the highest level of dirt track racing, Dollansky has over three decades of experience that can help you develop and perfect your racing skills.</p>
				<p>If you have the dream of becoming a professional race car driver, Dollansky’s Driven to Win is the Racing Academy for you!</p>
			</div>
		</div>
	</div>
	<hr>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Racing Academy Programs</h1>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-md-6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">
						<h2 class="card-title">team coaching</h2>
					</div>
					<div class="card-text row-one">
						<p class="card-text-title">Available Now</p>
						<p>
							Get expert driving tips, advice, and analysis in person from Craig Dollansky. DDTW creates a custom program based on your teams needs in order to maximize positive impact. The DDTW team coaching program will enhance your driving ability and strengthen your team in a variety of key areas.
						</p>
					</div>
					<div class="card-button text-center fixed-bottom">
						<button class="button-register"><a href="/register">Register</a></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">
						<h2 class="card-title">racing experience</h2>
					</div>
					<div class="card-text row-one">
						<p class="card-text-title">Coming Soon: Spring 2019</p>
						<p>
							Experience the thrill of a lifetime by driving a DDTW prepared winged sprint car, a non-winged sprint car, or a micro-sprint car. Choose between packages and number of laps. Proper safety equipment is required and individuals will be advised on the basic safety precautions.
						</p>
					</div>
					<div class="card-button text-center fixed-bottom">
						<button class="button-register"><a href="/register">Register</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-md-6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">
						<h2>promotions consulting</h2>
					</div>
					<div class="card-text row-two">
						<p class="card-text-title">Available Now</p>
						<p>
							Thinking of hosting a racing event at a venue? Contact us. After successfully promoting World of Outlaws races and earning the 2008 “Promoter of the Year” award, we will assist you in making the most of your event.
						</p>
						<p>We offer advice for proper precautions for the safety and security of your attendees, how to keep the show rolling, maximizing entertainment, traffic flows, viability, and common mistakes to avoid.</p>
					</div>
					<div class="card-button text-center fixed-bottom">
						<button class="button-register"><a href="/register">Register</a></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-content">
					<div class="card-title">
						<h2>driving academy</h2>
						<h2>2-day course</h2>
					</div>
					<div class="card-text row-two">
						<p class="card-text-title">Coming Soon: Spring 2019</p>
						<p>Day 1 of the course offers key insights to get you up to speed off the track on how to properly develop your professional career. Expertly developing your identity is key to your professional appearance when interviewing, approaching sponsors, and engaging with your fans.</p>
						<p>Day 2 offers on track training laps using a DDTW prepared sprint car, or you may bring your own.(Coming soon Spring 2019)</p>
					</div>
					<div class="card-button text-center fixed-bottom">
						<button class="button-register"><a href="/register">Register</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<hr>
	<div class="row row-eq-height customer-row">
		<div class="col-md-4 ">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="register-banner text-center">
				<h3><a href="/register">Register Today</a></h3>
			</div>
		</div>
	</div>
</div>
