<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="equipment-header">
                <h1>Equipment</h1>
                <p class="equipment-header-text">During his over-3-decades long career, Craig Dollansky has tried some of the best equipment in the world for building sprint cars.</p>     
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img id="sprint-car" class="img img-responsive" src="../../images/sprintCarRacingTransparentPng.png" usemap="#image-map">
            <map name="image-map">
                <area id="sprint-car-large-wing"target="" coords="156,67,86,202,429,356,445,327,495,221,532,154,264,20,227,99" shape="poly">
                <area id="sprint-car-large-sponsor" target=""coords="157,330,156,376,248,449,372,438,373,362,254,330" shape="poly">
                <area id="sprint-car-tire" target="" coords="144,482,95" shape="circle">
                <area id="sprint-car-exhaust" target="" coords="423,523,326,463" shape="rect">
                <area id="sprint-car-small-wing" target=""coords="602,343,715,401,693,453,578,397" shape="poly">
                <area id="sprint-car-wheel" target=""coords="611,498,43" shape="circle">
            </map>
        </div>

        <div class="col-sm-3">
            <div class="sponsor-list">
                <div class="row">
                    <div id="part1" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div id="part2" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div id="part3" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div id="part4" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div id="part5" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div id="part6" class="col-sm-12 part">
                        <p class="part-name">NAME OF THIS PART</p>
                        <p class="part-seller-name">Seller of part</p>
                        <p class="part-description">brief desription of why this is the best brand for this part. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 parts-list">
            <div class="text-center parts-list-title">
                <h2>Interested in building your own sprint car?</h2>
                <p>Here’s the full list of parts recommended by Dollansky Driven to Win</p>
            </div>
            <div>
                <p class="part-name">NAME OF PART</p>
                <p class="part-seller-name">Seller of part</p>
                <p class="part-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>
            </div>
            <div>
                <p class="part-name">NAME OF PART</p>
                <p class="part-seller-name">Seller of part</p>
                <p class="part-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>
            </div>
            <div>
                <p class="part-name">NAME OF PART</p>
                <p class="part-seller-name">Seller of part</p>
                <p class="part-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>
            </div> 
        </div>
    </div>
</div>