{{!< default}}
<div class="container-fluid">
	<div class="jumbotron home">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 fixed-bottom">
				<div class="home-title">
					<h1>Dollansky</h1>
					<h1 class="faster-font">RACING</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h2>About Dollansky Placeholder</h2>
			</div>
			<div class="col-sm-8 col-sm-offset-2 intro-text">
				<p>
					Have you experienced the intensity of driving a sprint car? Do you have what it takes to be a professional race car driver?
				</p>
				<p>Whether you want to gain a competitive edge for weekend racing, develop your professional racing career, or are looking to experience a thrill like never before, Dollansky Driven to Win Racing Academy will benefit you as a driver and team member.</p>
				<img class="pull-right" src="../../images/craigSigOutlined.png">
			</div>
		</div>
	</div>
	<div class="row row-eq-height customer-row">
		<div class="col-md-4 ">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card customer">
				<div class="text-center">
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="customer-comment">
					<p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
					<p class="customer-name">-Persons Name</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row home-banner">
	<div class="col-sm-12">
		<div class="driven-text">
			<div>
				<h2>Learn to drive like a pro</h2>
			</div>
			<div class="driven-link">
				<a href="/academy">
					<h2>Dollansky Driven Racing Academy <i class="fas fa-angle-right"></i></h2>	
				</a>
			</div>		
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row social-feeds">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="col-md-8">
				<h2>Facebook</h2>
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdollanskyracing&tabs=timeline&width=450&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				<div class="social-button">
					<button class="button-register"><a href="https://www.facebook.com/dollanskyracing/">Like Page</a></button>
				</div>
			</div>
			<div class="col-md-4">
				<h2>Twitter</h2>
				<a class="twitter-timeline" height="500px" width="500px" href="https://twitter.com/CraigDollansky?ref_src=twsrc%5Etfw">Twitter</a>
				<div class="social-button">
					<button class="button-register"><a href="https://twitter.com/CraigDollansky">Follow Craig</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid news-photos">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="col-md-4">
				<div class="news-header text-center">
					<h2>Race News</h2>
				</div>
				<div class="row news-article">
					<div class="col-sm-12">
						<p class="news-article-title">Lorem ipsum dolor sit amet</p>
						<p class="news-article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<a class="news-article-readmore">Read More</a>
					</div>
				</div>
				<div class="row news-article">
					<div class="col-sm-12">
						<p class="news-article-title">Lorem ipsum dolor sit amet</p>
						<p class="news-article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<a class="news-article-readmore">Read More</a>
					</div>
				</div>
				<div class="row news-article">
					<div class="col-sm-12">
						<p class="news-article-title">Lorem ipsum dolor sit amet</p>
						<p class="news-article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						<a class="news-article-readmore">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-7 home-photos">
				<div class="row">
					<div class="col-sm-6">
						<img src="../../images/test1.jpg" alt="" width="100%">
					</div>
					<div class="col-sm-6">
						<img src="../../images/test2.jpg" alt="" width="100%">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<img src="../../images/test3.jpg" alt="" width="100%">
					</div>
					<div class="col-sm-6">
						<img src="../../images/test4.jpg" alt="" width="100%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
