{{!< default}}
<div class="container-fluid">
	<div class="jumbotron home">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 fixed-bottom">
				<div class="home-title">
					<h1>Dollansky</h1>
					<h1 class="faster-font">RACING</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
        <div class="col-md-8">
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdollanskyracing&tabs=timeline&width=450&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>       
		</div>
        <div class="col-md-4">
            <a class="twitter-timeline" height="500px" width="400px" href="https://twitter.com/CraigDollansky?ref_src=twsrc%5Etfw">Twitter</a>
        </div>
	</div>
</div>
<div class="row home-banner">
	<div class="col-sm-12">
		<div class="driven-text">
			<div>
				<h2>Learn to drive like a pro</h2>
			</div>
			<div class="driven-link">
				<a href="/academy">
					<h2>Dollansky Driven Racing Academy</h2>
					<i class="fas fa-angle-right"></i>
				</a>
			</div>		
		</div>

	</div>
</div>
<div class="container">
	<div class="row">
        <div class="col-md-4">
			<h2>Race News</h2>
			<div class="row">
				<div class="col-sm-12">
					<p>Lorem ipsum dolor sit amet</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					<p>Read More</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Lorem ipsum dolor sit amet</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					<p>Read More</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Lorem ipsum dolor sit amet</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					<p>Read More</p>
				</div>
			</div>
        </div>
        <div class="col-md-8">
            <div class="row">
				<div class="col-sm-6">
					<img src="http://www.shreejeeschool.in/wp-content/uploads/2016/11/blank-img.jpg" alt="" class="" width="100%">
				</div>
				<div class="col-sm-6">
					<img src="http://www.shreejeeschool.in/wp-content/uploads/2016/11/blank-img.jpg" alt="" class="" height="auto" width="100%">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="http://www.shreejeeschool.in/wp-content/uploads/2016/11/blank-img.jpg" alt="" class="" height="auto" width="100%">
				</div>
				<div class="col-sm-6">
					<img src="http://www.shreejeeschool.in/wp-content/uploads/2016/11/blank-img.jpg" alt="" class="" height="auto" width="100%">
				</div>
			</div>
        </div>
	</div>
</div>
