.jumbotron.about {
    background: url('../../images/dollansky1\ +\ dollansky1\ Mask.png') no-repeat center;
    height: 570px;
    background-size: cover;
    position: relative;
    padding-left: 0; 
}

.quote-card {
    background-color: $accent-color-yellow;
    padding: 60px 0 40px 0;
    color: black;
    opacity: .9;
    height: 100%;
    h2 {
        font-size: 36px;
    }
}

.about-quote {
    .quote-card {
        padding: 60px 0 40px 0;
    }
}

.mission-quote {
    margin-top: 70px;
    .quote-card {
        padding: 60px 0 40px 0;
    }
}

.about-text {
    margin-bottom: 30px;
    h2 {
        font-size: $heading-2;
        padding-bottom: 10px;
    }
    p {
        font-size: $heading-3;
        font-family: $montserrat;
        padding-bottom: 10px;
    }
}

.about-section {
    padding-bottom: 50px;
}

.accolades {
    top: -70px;
    padding-right: 20px;
    .col-sm-12 {
        margin-bottom: 20px;
    }
}

.accolades-title {
    color: $accent-color-orange;
}

.fa-trophy {
    font-size: 70px;
}

.fa-quote-right {
    color: $body-text-color;
    font-size: 50px;
}

.mission-text {
    h2 {
        font-size: $heading-2;
        padding-bottom: 10px;
    }
    p {
        font-size: $heading-3;
        font-family: $montserrat;
        padding-bottom: 10px;
    }
}

.section-text-box {
    padding-top: 20px;
}

.mission-row {
    margin-bottom: 60px;
}

.quote-inner-card {
    padding-left: 70px;
    padding-right: 50px;
}