.contact-heading {
    h2 {
        color: $accent-color-yellow;
    }
}

.contact-form {
    padding-top: 50px;
    font-family: $montserrat;
    .form-control {
        font-family: $montserrat;
        font-style: italic;
        color: #999999;
        border-radius: 50px;
        background-color: transparent;
        border: 1px solid $accent-color-orange;
        margin-bottom: 25px;
    }
    textarea.form-control {
        border-radius: 25px;
        max-width: 100%;
        min-width: 100%;
    }
    label {
        font-size: 16px;
    }
}