.jumbotron.home {
    background: url('../../images/DD_homepage_GIF.gif') no-repeat 40% 75%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.jumbotron.home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(47, 47, 47, 0.7);
}

.home-title {
    color: white;
    position: relative;
    padding-left: 5px;
    padding-bottom: 170px;
}

.social-feeds {
    h2 {
        padding-left: 160px;
        padding-bottom: 25px;
    }
    .social-button {
        padding-left: 160px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
}
 
.home-banner {
    margin: 50px 0 50px 0;
    background: url('../../images/dollansky-academy-banner2.png') no-repeat center 60%;
    height: 250px;
    background-size: cover;
    position: relative;
    h2 {
        font-size: 40px;
        padding-left: 30px;
        margin: 0 0 5px 0;
    }
    .col-sm-12 {
        padding-left: 0;
    }
}

.driven-text {
    position: relative;
    padding-top: 60px;
    h2 {
        font-size: 3vw;
        text-shadow: 0 0 5px rgba(0,0,0,1);
    }
}

.driven-text:first-child {
    margin-bottom: 10px;
}

.driven-link {
    vertical-align:middle;
    padding: 10px 0 10px 0;
    h2 {
        display: inline;
        vertical-align:middle;
        background-color: $accent-color-orange;
        padding-right: 5px;
    }
    a {
        color: $body-text-color;
        
    }
}

.fa-angle-right {
    font-size: 3vw;
    vertical-align:middle;

}

.news-photos {
    padding-top: 60px;
    padding-bottom: 60px;
}

.home-photos {
    .row {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.news-header {
    padding-bottom: 25px;
}

.news-article {
    font-size: 21px;
    font-family: $montserrat;
    padding-bottom: 25px;
    .news-article-title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .news-article-content {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .news-article-readmore {
        cursor: pointer;
        font-size: 25px;
        color: $body-text-color;
        font-family: $overpass;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $accent-color-yellow;
    }
}