hr {
  width: 95%;
  border: 2px solid $accent-color-gray;
}

h1.faster-font {
  font-family: 'Faster One', cursive;
  font-size: 80px;
}

.jumbotron {
  background: url('../../images/dianaAishe605163Unsplash.png') no-repeat center;
  height: 570px;
  background-size: cover;
  position: relative;
}

.jumbotron:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

.page-title {
  color: white;
  position: relative;
  padding-left: 5px;
  padding-bottom: 120px;
}

.accent-yellow {
  color: $accent-color-yellow;
}

.intro-text {
  font-family: $montserrat;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  background-color: $accent-color-gray;
  height: 100%;
}

.row-eq-height>.col-md-6 {
  margin: 10px;
}

.row>.card-row {
  height: 100%;
}

.card-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.card-title {
  color: $accent-color-orange;
}


.card-text {
  font-family: $montserrat;
  color: $body-text-color;
  line-height: 30px;
  font-size: 16px;
}

.card-text.row-one {
  padding-bottom: 20%;
}
.card-text.row-two {
  padding-bottom: 25%;
}

.card-text-title {
  color: $accent-color-yellow;
  margin-bottom: 0px;
}

.button-register {
  border-radius: 50px;
  border: 1px solid $accent-color-yellow;
  background-color: transparent;
  color: $accent-color-yellow;
  height: 42px;
  width: 131px;
  margin-bottom: 30px;
  a {
    color: $accent-color-yellow;
  }
}

.button-register:hover {
  background-color: $accent-color-yellow;
  a {
    color: #343434;
  }
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.fa-user-circle {
  padding: 20px;
  font-size: 84px;
}

.customer-row {
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  .col-md-4 {
    margin: 10px;
  }
}

.customer-comment {
  font-family: $montserrat;
  padding: 0 40px 20px 40px;
  .customer-text {
    font-style: italic;
  }
  .customer-name {
    color: $accent-color-yellow;
    font-size: 16px;
  }
}

.register-banner {
  background-color: $accent-color-orange;
  height: 130px;
  margin-top: 50px;
  margin-bottom: 30px;
  h3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35%;
    a {
      color: $body-text-color;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .row-eq-height {
    flex-direction: column;
  }
  h1, h1.faster-font {
    font-size: 40px;
  }
}