html, body { 
	overflow-x: hidden; 
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: $overpass;
	background-color: $background-color;
	color: $body-text-color;
	padding-top: 50px;
	padding-bottom: 150px;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #efefef;
	font-size: 20px;
	font-family: $overpass;
	background-color: $accent-color-gray;
}

.container-fluid {
	padding: 0;
}

.copyright>p {
	font-size: 18px;
	position: relative;
	padding-top: 20px;
}

.footer-row {
	padding-left: 20px;
	padding-right: 20px;
}

.row.footer-row {
	margin-right: 0;
}

.footer-nav-bar > li > a {
    position: relative;
    display: block;
	padding: 10px 15px;
}

.footer-nav-bar > li {
	list-style-type: none;
}

.footer-nav-link {
	color: $body-text-color;
	font-size: 20px;
}

.footer-nav-link:hover, .footer-nav-link:focus {
	color: $body-text-color;
}

.footer-nav-div {
	text-align: right;
	height: 50px;
}
.social-link, .social-link:hover, .social-link:active  {
	color:white;
}

@media only screen and (max-width: 768px) {
	body {
		padding-bottom: 300px;
	}
	.footer-nav-bar {
		text-align: right;
	}
}