html, body { 
	overflow-x: hidden; 
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: $overpass;
	background-color: $background-color;
	color: $body-text-color;
	padding-top: 50px;
	padding-bottom: 150px;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #efefef;
	font-size: $heading-3;
	font-family: $overpass;
	background-color: $accent-color-gray;
}

.container-fluid {
	padding: 0;
}

.copyright>p {
	font-size: 18px;
	position: relative;
	padding-top: 70px;
}

.footer-row {
	padding-left: 20px;
	padding-right: 20px;
}

.row.footer-row {
	margin-right: 0;
}

.footer-nav-link {
	color: $body-text-color;
	font-size: 25px;
}