.registration {
    font-family: $montserrat;
    .form-control {
        font-family: $montserrat;
        font-style: italic;
        color: #f7f7f7;
        border-radius: 50px;
        background-color: transparent;
        border: 1px solid $accent-color-orange;
        margin-bottom: 25px;
    }
    label {
        font-size: 16px;
    }
    h1 {
      margin-top: 50px;
      font-family: $overpass;
    }
}

.input-label {
  padding-top: 5px;
}

.program-text {
    padding: 0 10px 20px 10px;
}

.experience-radio {
    // position: relative;
    // display: inline-block;
    // padding-left: 10px;
    input {
        cursor: pointer;
    }
}

.registration-section-title {
    margin-bottom: 40px;
    font-family: $overpass;
    color: $accent-color-yellow;
}

.field-required {
    color: $accent-color-orange;
}

.program-cards {
  margin-bottom: 50px;
}

.program-card {
    background-color: $accent-color-gray;
    padding: 10px;
    height: 320px;
    margin-bottom: 10px;
}

.program-radio {
    padding-bottom: 15px;
}

.radio-button {
    padding-top: 20px;
    height: 20px;
    width: 20px;
    background-color: $accent-color-orange;
    color: $accent-color-orange;
}

.row>.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
  hr {
    width: 100%
  }
  .experience-radio {
    position: relative;
    bottom: 35px;
  }
}

.row>.col-sm-2:first-child {
  hr {
    width: 65%;
    position: relative;
    left: 50px;
  }
}

.row>.col-sm-2:last-child {
  hr {
    width: 65%;
    position: relative;
    right: 50px;
  }
}

.program-title {
  font-family: $overpass;
  font-size: 18px;
  color: $accent-color-orange;
}

.confirm-btn {
  border: none;
  font-family: $overpass;
  font-size: 24px;
  color: black;
  background-color: $accent-color-yellow;
  height: 70px;
  width: 200px;
  border-radius: 50px;
}

.total-text {
  font-family: $overpass;
}

.total-text>p:first-child {
  font-size: 20px;
}

.total-text>p:last-child {
  font-size: 32px;
}

.total-row {
  margin-bottom: 100px;
}

$DarkBrown: #292321;

$Orange: #CC3300;


input[type="radio"] {
  display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#f7f7f7;
     border:1px solid white;
}

input[type="radio"]:checked + label span{
     background-color: $accent-color-orange;
     border:1px solid white;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

@media only screen and (max-width: 720px) {
  .row>.col-sm-2 {
    hr {
      width: 100%;
      position: relative;
    }
  }

  .row>.col-sm-2:first-child {
    hr {
      width: 100%;
      position: relative;
      left: 0;
    }
  }

  .row>.col-sm-2:last-child {
    hr {
      width: 100%;
      position: relative;
      right: 0;
    }
  }

  .program-card {
    height: 250px;
  }
}