// Override Bootstrap variables in this file, e.g.

// Colors
$accent-color-yellow: #FFCE00;
$accent-color-orange: #E86706;
$accent-color-gray: #343434;
$background-color: #222222;
$body-text-color: #F7F7F7;




// Fonts
$overpass: 'Overpass Mono', monospace;
$montserrat: 'Montserrat', sans-serif;
$heading-1: 48px;
$heading-2: 36px;
$heading-3: 28px;
$heading-4: 20px;
