// Override Bootstrap variables in this file, e.g.

// Colors
$accent-color-yellow: #FFCE00;
$accent-color-orange: #E86706;
$accent-color-gray: #343434;
$background-color: #222222;
$body-text-color: #F7F7F7;




// Fonts
$overpass: 'Overpass Mono', monospace;
$heading-1: 48pt;
$heading-2: 36pt;
$heading-3: 28pt;
$heading-4: 20pt;


